/* menu  */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
/* fin menu  */

body{
    font-family: montserrat;
}


.kanban{
    display: flex;
    padding: 30px;
    width: 750px;
    background-color: #34495e;
    border-radius: 5px;
    margin-left: 1px; 
    /* /* margin-left: 300px;
    margin-right: 400px; */
}

.kanban * {
    font-family: sans-serif;
}
.spc{
    margin-top: 20px;
    color: blue;
    display: flex;
}

.kanban__column{
    /* flex: 1; */
    display: flex;
  flex-direction: column;
  gap: var(--gutter);
  min-width: 100px;
}

.kanban__column:not(:last-child){
    margin-right: 30px;
}

.kanban__column-title{
    margin-bottom: 20px;
    font-size: 30px;
    color: azure;
    user-select: none;
}

.kanban__column-title-One{
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(15, 51, 1);
    user-select: none;
}
/* .kanban__column-title-tow{
text-align: center;
margin-bottom: 40px;
margin-top: 40px;
color: black;
} */
.kanban__column-title-tow h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    /* text-align: center; */
margin-bottom: 40px;
margin-top: 40px;
margin-left: 350px;
    color: black;
}
.kanban__column-title-One h1{
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(175, 0, 0);
    user-select: none;
}

.kanban__items--input{
    padding: 15px 15px;
    margin: auto;
    
    box-sizing: border-box;
    background: #111111bd;
    border-radius: 10px;
    cursor: pointer;
}

.kanban__dropzone{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  /* box-shadow: var(--box-shadow-lg); */
  padding: var(--gutter);
  background-color: var(--c-background-light);
  border-radius: var(--border-radius-md);
/* border: solid white 20px; */
}


.kanban__dropzone--active{
    height: 20px;
    /* background: rgba(230, 225, 225, 0.25); */
    background: rgba(230, 225, 225, 0.25);
}

.kanban__add-item{
width: 50%;
padding: 10px 0;
font-size: 16px;
color: black;
background: rgb(180, 33, 33);
border: none;
border-radius: 5px;
cursor: pointer;
}

